<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".TodoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoBoutaina">



    <activity
        android:name=".auth.LoginActivity"
        android:exported="false"
        android:label="@string/title_activity_login"
        android:theme="@style/Theme.ToDoBoutaina" />
    <activity
        android:name=".user.UserActivity"
        android:exported="false"
        android:label="@string/title_activity_user"
        android:theme="@style/Theme.ToDoBoutaina" />
    <activity
        android:name=".add.AddTaskActivity"
        android:exported="false"
        android:label="@string/title_activity_add_task"
        android:theme="@style/Theme.ToDoBoutaina" />
    <activity
        android:name=".detail.DetailActivity"
        android:exported="true"
        android:label="@string/title_activity_detail"
        android:theme="@style/Theme.ToDoBoutaina">
        <intent-filter>
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="text/plain" />
        </intent-filter>
    </activity>
    <activity
        android:name=".MainActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name="org.publicvalue.multiplatform.oidc.appsupport.HandleRedirectActivity"
        android:exported="true">
        <intent-filter tools:node="removeAll" />
        <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data
                android:host="cyrilfind.kodo"
                android:path="/redirect_uri"
                android:scheme="https" />
        </intent-filter>
    </activity>
</application>

    </manifest>
